.my__button {
  display: flex;
  align-items: center;
  padding: 19px 24px;
  justify-content: center;
  gap: 8px;
  background-color: rgb(151, 71, 255);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.my__button:hover {
  background-color: rgba(151, 71, 255, 0.66);
}
.my__button-icon {
  margin-right: 5px;
  font-size: 1.2rem;
}
.my__button:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.my__input {
  box-shadow: 0 0 0 0 rgb(203, 218, 252);
  border-radius: 4px;
  border: 1px solid rgb(231, 233, 236);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 17px 12px;
}

.slider-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .slider-mobile {
    display: block;
    position: relative;
  }
  .slider-mobile img {
    width: 100%;
    object-fit: cover;
    height: 540px;
  }
}

.slider {
  position: relative;
}
@media screen and (max-width: 480px) {
  .slider {
    display: none;
  }
}
.slider .swiper-container {
  width: 100%;
}
.slider .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  opacity: 1 !important;
  background: #fff !important;
}
.slider .swiper-pagination-bullet-active {
  background: #9747FF !important;
}
.slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider .swiper-slide img {
  user-select: none;
  width: 100%;
  object-fit: cover;
}
.slider .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.slider .slide-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.slider .slide-content p {
  font-size: 1.5rem;
}
.slider .swiper-button-next {
  right: 96px;
  top: 50%;
}
@media screen and (min-width: 1920px) {
  .slider .swiper-button-next {
    right: 20%;
  }
}
.slider .swiper-button-prev {
  left: 96px;
  top: 50%;
}
@media screen and (min-width: 1920px) {
  .slider .swiper-button-prev {
    left: 20%;
  }
}
.slider .swiper-button-next,
.slider .swiper-button-prev {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100%;
  transition: 400ms;
}
.slider .swiper-button-next svg,
.slider .swiper-button-prev svg {
  height: 22px;
  width: 22px;
}
.slider .swiper-button-next:before,
.slider .swiper-button-prev:before {
  content: none;
}
.slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
  content: none;
}
.slider .swiper-button-next:hover,
.slider .swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.67);
}
.slider .swiper-pagination-bullet {
  background: #fff;
}

.modal-dialog {
  max-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#form__success__window {
  justify-content: center;
  align-items: center;
  padding: 0;
}

.desk-form {
  display: flex;
  flex-flow: row;
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
}
.desk-form .--active {
  display: flex;
}
.desk-form .--center {
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 920px) {
  .desk-form .--center {
    padding: 84px 24px;
  }
}
.desk-form__left-side {
  width: 428px;
  height: 428px;
  padding: 24px 24px 62px 24px;
  display: none;
  flex-flow: column;
}
.desk-form__left-side__success__arrow {
  height: 96px;
  width: 96px;
  border-radius: 100%;
  background: rgb(32, 201, 151);
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desk-form__left-side__success__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
}
.desk-form__left-side__success__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 920px) {
  .desk-form__left-side__success__description {
    color: rgb(134, 146, 158);
  }
}
@media screen and (max-width: 920px) {
  .desk-form__left-side {
    padding: 84px 16px 68px;
    height: unset;
    width: unset;
  }
}
.desk-form__left-side form {
  display: flex;
  flex-flow: column;
  gap: 24px;
}
.desk-form__left-side form .input__wrapper {
  width: 100%;
  position: relative;
}
.desk-form__left-side form .input__wrapper input {
  width: 100%;
}
.desk-form__left-side__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-bottom: 16px;
}
@media screen and (max-width: 920px) {
  .desk-form__left-side__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
}
.desk-form__left-side__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgb(134, 146, 158);
  margin-bottom: 24px;
}
@media screen and (max-width: 920px) {
  .desk-form__left-side__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}
.desk-form__right-side {
  width: 428px;
  height: 428px;
  object-fit: contain;
  object-position: center center;
}
@media screen and (max-width: 920px) {
  .desk-form__right-side {
    display: none;
  }
}
.desk-form__btn-close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 36px;
  top: 36px;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=components.css.map */
